<div class="flex-container">
    <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="sys-settings-button">
        <i class="fa-solid fa-plug"></i>
        <span data-i18n="API Connections">API Connections</span>
    </button>
    <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="rightNavHolder">
        <i class="fa-solid fa-address-card"></i>
        <span data-i18n="Character Management">Character Management</span>
    </button>
    <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="extensions-settings-button">
        <i class="fa-solid fa-cubes"></i>
        <span data-i18n="Extensions">Extensions</span>
    </button>
    <button class="menu_button menu_button_icon drawer-opener inline-flex" data-target="proxyvn-button" tabindex="0">
        <i class="fa-solid fa-key"></i>
        <span>API Key ProxyVN</span>
    </button>
    <button class="menu_button menu_button_icon inline-flex" id="download-backup-button" tabindex="0">
        <i class="fa-fw fa-solid fa-download"></i>
        <span data-i18n="Download Backup">Download Backup</span>
    </button>
    <button class="menu_button menu_button_icon inline-flex" id="upload-backup-button" tabindex="0">
        <i class="fa-fw fa-solid fa-upload"></i>
        <span data-i18n="Upload Backup">Tải lên dữ liệu bạn đã lưu</span>
    </button>
</div>
